  <%= form_for property do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= property.errors.count %> 件のエラーがあります。</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form_property">
    <ul>
      <li><h2>物件登録</h2></li>
      <li><%= form.label :name %></li>
      <li><%= form.text_field :name %></li>
      <li><%= form.label :rent %></li>
      <li><%= form.text_field :rent %>円</li>
      <li><%= form.label :address %></li>
      <li><%= form.text_field :address %></li>
      <li><%= form.label :age %></li>
      <li><%= form.text_field :age %>年</li>
      <li><%= form.label :note %></li>
      <li><%= form.text_area :note %></li>
    </ul>
    <div class="form_station">
      <% i = 0 %>
      <%= form.fields_for :nearest_stations do |s| %>
      <% i += 1 %>
        <ul>
          <p class="moyorieki">最寄駅<%= s.index + 1 %></p>
          <li><%= s.label :raleway %></li>
          <li><%= s.text_field :raleway %></li>
          <li><%= s.label :name %></li>
          <li><%= s.text_field :name %></li>
          <li><%= s.label :minute %></li>
          <li><%= s.text_field :minute %>分</li>
        </ul>
        <div class="delete_station">
        </div>
      <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
window.onload = () => {
  document.getElementsByClassName('moyorieki')[0].innerText = "最寄駅1"
  const button = document.getElementById('addStation')
  button.addEventListener('click', () => {
    setTimeout(() => {
      const moyoriekis = document.getElementsByClassName('moyorieki')
      for(i = 0; i < moyoriekis.length; i++){
        moyoriekis[i].innerHTML = `最寄駅${i+1}`
      }
    }, 1)
  })
}
</script>
