<%= nested_form_for property do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form_property">
    <ul>
      <li><h2>物件登録</h2></li>
      <li><%= form.label :name %></li>
      <li><%= form.text_field :name %></li>
      <li><%= form.label :rent %></li>
      <li><%= form.text_field :rent %>円</li>
      <li><%= form.label :address %></li>
      <li><%= form.text_field :address %></li>
      <li><%= form.label :age %></li>
      <li><%= form.text_field :age %>年</li>
      <li><%= form.label :note %></li>
      <li><%= form.text_area :note %></li>
    </ul>

    <%= form.fields_for :nearest_stations  do |s| %>
      <ul>
          <li id="station_header"><strong>最寄駅</strong></li>
          <li><%= s.label :raleway %></li>
          <li><%= s.text_field :raleway %></li>
          <li><%= s.label :name %></li>
          <li><%= s.text_field :name %></li>
          <li><%= s.label :minute %></li>
          <li><%= s.text_field :minute %>分</li>
      </ul>
      <%= s.link_to_remove "削除" %>
    <% end %>
    <%= form.link_to_add "最寄駅を追加", :nearest_stations %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
