<h1>物件一覧</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>名前</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
  <% @properties.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.rent %>円</td>
    <td><%= p.address %></td>
    <td><%= p.age %>年</td>
    <td><%= p.note %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%= link_to 'Edit', edit_rental_property_path(p) %></td>
    <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to "物件を登録する", new_rental_property_path %>
