<h1>RentalProperties#index</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>名前</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
  <% @properties.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.rent %></td>
    <td><%= p.address %></td>
    <td><%= p.age %></td>
    <td><%= p.note %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%= link_to 'Edit', edit_rental_property_path(p) %></td>
    <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
